# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example
!.env.production

# vercel
.vercel

# cloudflare
.wrangler
dist

# supabase cli
supabase/.temp/

# misc
.DS_Store
*.pem
*.tsbuildinfo
